# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/attic/
/alt2_subroutine_threading_demo
/alt_subroutine_threading_demo
/cisc_threading_demo
/compiler_and_runner/cisc_compiler_demo
/compiler_and_runner/cisc_runner_demo
/direct_threading_demo
/rust_threading_demo
/subroutine_threading_demo
/cisc_threading_demo.dSYM/Contents/Resources/DWARF/cisc_threading_demo
/compiler_and_runner/cisc_compiler_demo.dSYM/Contents/Resources/DWARF/cisc_compiler_demo
/compiler_and_runner/cisc_runner_demo.dSYM/Contents/Resources/DWARF/cisc_runner_demo
/direct_threading_demo.dSYM/Contents/Resources/DWARF/direct_threading_demo
/subroutine_threading_demo.dSYM/Contents/Resources/DWARF/subroutine_threading_demo
*.plist
*.dSYM/
/brainforth/brainforth_compiler
/brainforth/brainforth_runner
/brainforth/brainforth_tokeniser
*.bf.json
/brainforth/json.hpp
/compiler_and_runner/json.hpp
